.main {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.addition {
  font-size: 34px;
  line-height: 38px;
  margin: 40px 0 60px;
  text-align: center;
}
.addition_error {
  background-color: #e6c50d;
}

.addition__input {
  width: 50px;
  height: 42px;
  text-align: center;
}
.addition__input:focus {
  outline: none;
  border: 1px solid #000000;
  border-radius: 3px;
}

.axis {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.axis__number {
  width: 700px;
  position: absolute;
  top: 182px;
  left: 0;
  z-index: -3;
}